.sladcovich-worksheet__input_datetime {
    padding: 0 2px 0 2px;
    min-height: 25px;
}
.sladcovich-worksheet__js_select2 {
    width: 100%;
}
#select2-sladcovich-worksheet__js_select2_company-container {
    color: #6c757d;
    padding-left: 5px;
}
